* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none !important
}
body {
    height: 100%;
}
/*  -------------,Header,------------------------------ */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(83, 83, 83);
    z-index: 2;
}
.header__logo{
    flex: 0 0 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo > img {
    max-width: 100%;
    display: block;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.header__burger {
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin-left: 20px;
}
.header__link {
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
	line-height: 1;
}
.header__link:after {
	display: block;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
    width: 0;
	height: 2px;
	background-color: #fff;
	content: "";
	transition: width 0.3s ease-out;
}
a:hover:after,
a:focus:after {
	width: 100%;
}
.head {
    padding-top: 70px;
    height: 90vh;
    width: 100%;
    background-image: url(/img/bgHead2.png);
    background-position: center right 23%;
    background-repeat: no-repeat;
    background-size: cover;
}
.head__body {
    margin-top: 3em;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
}
.head__body h1{
    font-family: 'Fredoka One', cursive;
    color: #FFF;
    mix-blend-mode: multiply;
    text-shadow: 0 0 9px rgba(0,0,0,8), 0 4px 6px rgba(0, 0, 0, 0.603);
    font-size: 6vw;
}
.mybutton {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color:rgb(56, 56, 56);
    padding: 5px 5px;
    width: auto;
    height: auto;
    margin:20px auto;
    background: transparent;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(83, 83, 83) 50%,rgb(83, 83, 83));
    background-position: 100% 0;
    background-size: 210% 105%;
    transition: all .35s ease-in;
    letter-spacing: 1px;
    border: 2px solid rgb(83, 83, 83);
    border-radius: 30px;
    cursor: pointer;
}
.head .mybutton:hover {
    color:rgb(217, 225, 230);
}
.mybutton:hover {
    background-position: 0 0;
    color:rgb(240, 240, 240);
}
/*  -------------^Header^------------------------------ */

/*  -------------,Skills,------------------------------ */
.skill {
    display: flex;
    height: auto;
    padding: 5% 5%;
    background-color: #fff;
}
.skill__text {
    width: 50%;
    padding: 5%;
}
.progbar {
    width: 50%;
    padding: 4% 5% 0;
}
.progbar p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: rgb(68, 68, 68);
    margin: 5px 0;
}
.meter {
    height: 15px;
    background: rgb(207, 207, 207);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 4%;
}
.meter > span {
    display: block;
    height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    background-color: rgb(43,194,83);
}
.meter > span p {
    font-size: 13px;
    margin-right: 3%;
    color: rgb(230, 230, 230);
}

/*  -------------^Skills^------------------------------ */

/*  -------------,About Me,----------------------------- */
.about {
    background-color: rgb(240, 240, 240);
    height: auto;
    display:flex;
    justify-content: space-around;
    padding: 5% 5%;
}
.left {
    font-family: 'Lato', sans-serif;
    width: 60%;
    height: max-content;
}
.left > h1 {
    color: rgb(56, 56, 56);
    font-size: 2vw;
    margin-bottom: 5%;
}
.left > p {
    font-size: 1vw;
    line-height: 1.5;
    margin-bottom: 2%;
    font-weight: bold;
    color: rgb(56, 56, 56);
    letter-spacing: 1px;
    text-align: justify;
}
.about__img > img {
    display: block;
    width: 20vw;
    height: auto;
}
/*  -------------^About Me^----------------------------- */

/*  -------------,Resume,----------------------------- */
.resume {
    height: auto;
    display:flex;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    padding: 5% 5%;
    text-align: center;
}
.resume p{
    text-align: center;
}
.resume .mybutton:hover {
    color:rgb(240, 240, 240);
}
/* ----------------^Resume^------------------- */

/* ----------------,Portfolio,------------------- */
.portfolio {
    height: auto;
    justify-content: center;
    background-color: #fff;
    padding: 5% 5%;
}
.portfolio .left {
    text-align: center;
    margin: 0 auto;
}
.portfolio p {
    text-align: center;
    margin-bottom: 10%;
}
.cell {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.hidden {
    display: none;
}
.show-hidden {
    margin: 1% auto;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}
.portfolio button {
    display: block;
    justify-content: center;
    margin-top: 5%;
}
/*  -------------^Portfolio^----------------------------- */

@media (max-width:767px){
    body.lock {
        overflow: hidden;
    }
    .header__logo{
        flex: 0 0 45px;
    }
    .header__body {
        height: 50px;
    }
    .header__burger {
        display: block;
        height: 20px;
        width: 30px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.show span {
        transform: scale(0);
    }
    .header__burger.show::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.show::after {
        transform: rotate(-45deg);
        bottom: 9px;
        }
    
    .header__menu {
        position: fixed;
        top: -100%;
        right: 0%;
        min-width: 30vw;
        height: auto;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: rgb(233, 130, 12);
        padding: 70px 10 20 10;
    }
    .header__menu.show {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0 10px 10px 10px;
    }
    .head__body {
        margin-top: 4em;
    }
    .head__body h1{
        font-size: 6vw;
    }
    .mybutton {
        width: auto;
        height: auto;
        font-size: 10px;
    }
    /* ---------- */
    .skill {
        padding: 10% 5%;
        display: block;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .left > h1 {
        font-size: 4vw;
    }
    .left > p {
        font-size: 2vw;
    }
    .progbar {
        width: 70%;
    }
    .progbar p{
        font-size: 80%;
    }
    /* ------------ */
    .about {
        padding: 10% 5%;
        display: block;
    }
    .about__img {
        display:flex;
        justify-content: center;
    }
    .about__img img {
        margin-top: 5%;
        width: 30vw;
        height: auto;
    }
    /* ------------------ */
    .resume {
        padding: 10% 5%;
    }
    /* ------------------ */
    .portfolio {
        padding: 10% 5%;
    }
    .cell { 
        width: 100%;
        grid-gap: 1vw;
    }
    .show-hidden {
        width: 100%;
        grid-gap: 1vw;
    }
    /* ------------------ */
}

@media (max-width:500px){
    .cell {
        width: 60%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 1vw;
    }
    .hidden{
        display: none;
    }
    .show-hidden {
        width: 60%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 1vw;
    }
}