* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    height: 100%;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.container {
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(83, 83, 83);
    z-index: 2;
}
.header__logo{
    flex: 0 0 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo > img {
    max-width: 100%;
    display: block;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.header__burger {
    display: none;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin-left: 20px;
}
.header__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
	line-height: 1;
}
.header__link:after {
	display: block;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
    width: 0;
	height: 2px;
	background-color: #fff;
	content: "";
	transition: width 0.3s ease-out;
}
a:hover:after,
a:focus:after {
	width: 100%;
}

.head {
    padding-top: 70px;
    height: 90vh;
    width: 100%;
    background-image: url(/img/bgHead2.png);
    background-position: center right 23%;
    background-repeat: no-repeat;
    background-size: cover;
}

.head__body {
    margin-top: 3em;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
}

.head__body h1{
    font-family: 'Fredoka One', cursive;
    color: rgb(56, 56, 56);
    font-size: 6vw;
}

.head__body button {
    font-family: 'Fredoka One', cursive;
    color:rgb(56, 56, 56);
    padding: 10px 10px;
    width: auto;
    margin:20px auto;
    background: transparent;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(56, 56, 56) 50%,rgb(56, 56, 56));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .35s ease-in;
    font-size: 18px;
    letter-spacing: 1px;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 20px;
}
.head__body button:hover {
    background-position: 0 0;
    color:#fff;
}

@media (max-width:767px){
    body.lock {
        overflow: hidden;
    }
    .header__logo{
        flex: 0 0 45px;
    }
    .header__body {
        height: 50px;
    }
    .header__burger {
        display: block;
        height: 20px;
        width: 30px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger.show span {
        transform: scale(0);
    }
    .header__burger.show::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.show::after {
        transform: rotate(-45deg);
        bottom: 9px;
        }
    
    .header__menu {
        position: fixed;
        top: -100%;
        right: 0%;
        min-width: 30vw;
        height: auto;
        overflow: auto;
        transition: all 0.5s ease 0s;
        background-color: rgb(233, 130, 12);
        padding: 70px 10 20 10;
    }
    .header__menu.show {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0 10px 10px 10px;
    }
    .head__body {
        margin-top: 4em;
    }
    .head__body h1{
        font-size: 6vw;
    }
    .head__body button {
        padding: 10px 10px;
        width: 100px;
        font-size: 11px;
    }
}

/*  -------------^Header^------------------------------ */
/*  -------------,Content,----------------------------- */
/* .content {
    display: flex;
}
content__text {
    display: flex;
} */
